@import url("https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap");
$buttonColor: #f88585;
$buttonOnHoverColor: #201aa3;

@mixin container() {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin title {
  h1 {
    font-family: "Thasadith", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 1.5rem;
    }
  }
}
@mixin button {
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    background-color: $buttonColor;
    border: 0;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: "Varela Round", sans-serif;
    transition: all 300ms ease;
  }
  button:hover {
    //transform: scale(1.02);
    background-color: $buttonOnHoverColor;
  }

  @media screen and (max-width: 900px) {
    button {
      font-size: 1.2rem;
    }
  }
}

@mixin loader() {
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  p {
    margin: 0;
    font-family: "Varela Round", sans-serif;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin form-controller($colums) {
  @each $columname, $props in $colums {
    .form-controller {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      border-radius: 5px;
      p.error {
        color: red;
        font-size: 10px;
        margin-left: 20px;
        text-align: left;
        margin: 0;
      }
      label {
        width: 100%;
        font-family: "Varela Round", sans-serif;
        height: 10px;
        margin-bottom: 15px;
        color: black;
        @if map-has-key($props, "color") {
          border-color: map-get($props, "color");
        }
      }
      .form-container {
        display: flex;

        border: 1px solid;
        @if map-has-key($props, "radius") {
          border-radius: map-get($props, "radius");
        }

        padding: 10px;
      }
      textarea:focus,
      input:focus {
        outline: none;
      }
      input {
        width: 90%;
        height: 50px;
        padding: 5px 5px 5px 10px;
        color: black;
        border: 0px;
        background-color: none;
        @if map-has-key($props, "color") {
          border-color: map-get($props, "color");
        }
        @if map-has-key($props, "height") {
          height: map-get($props, "height");
        }
      }
      select {
        width: 100%;
        height: 60px;
        background-color: none;
        border: none;
        color: black;
        @if map-has-key($props, "color") {
          border-color: map-get($props, "color");
        }
        @if map-has-key($props, "height") {
          height: map-get($props, "height");
        }
      }
      textarea {
        width: 100%;
        height: 120px;
        background-color: none;
        border: 1px solid;
        color: black;
        @if map-has-key($props, "color") {
          border-color: map-get($props, "color");
        }
        @if map-has-key($props, "height") {
          height: map-get($props, "height");
        }
      }
    }
    .form-controller.dark {
      label {
        color: white;
      }
      .form-container {
        background-color: black;
        input {
          background-color: black;
          color: white;
        }
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: white;
          opacity: 1; /* Firefox */
        }
        textarea {
          color: white;
          background-color: black;
        }
      }
    }
  }
}

@mixin subtitle() {
  h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 2.5rem;
    margin: 0;

    text-align: center;
  }
}

@mixin paragraph() {
  p {
    font-family: "Thasadith", sans-serif;
    font-size: 2rem;
    margin: 0;

    word-break: normal;
    text-align: center;
  }
  @media screen and (max-width: 900px) {
    p {
      font-size: 1.8rem;
    }
  }
}
